<!DOCTYPE html>
<html lang="en-US">
<meta charset="utf-8">
<head>
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  {% if page.more %}
    <title>{{ page.title }} {{ page.more }} &mdash; garno.me</title>
  {% else %}
    <title>{{ page.title }} &mdash; garno.me</title>
  {% endif %}
</head>

<body>
  <section>
    {{ content }}

    <footer>
      <img id="ornement" src="https://s3.amazonaws.com/sg-blog/images/ornement.jpg" alt="Ornement" />

      <div id="social">
        <a href="/about.html">Le cookbook d'un néophyte</a>
        •
        Depuis 2013
      </div>
    </footer>
  </section>

  {% include analytics.html %}
</body>
</html>
